/* font-family: 'Noto Sans', sans-serif; */

:root {
    --clr-primary: #334c7d;
    --clr-secondary: #4d93e9;
    --cl-tertiary: #2d2b55;
    --cl-tertiary-02: #1e3563;
    /* --clr-grey: #808dad; */
    --clr-white: #fff;
    /* --secondary-02: rgba(235, 74, 74, 0.1);
    --tertiary-02: rgba(23, 31, 56, 0.5); */
    --ff-primary: 'Noto Sans', sans-serif;
    --transition: all 0.3s linear;
    --transition-2: all 5s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

/* section[id] {
    scroll-margin: 100px;
} */

*, *:before, *:after {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    box-sizing: inherit;
}

* {
    /* border: 1px solid red; */
}

body {
    font-family: var(--ff-primary);
    font-size: 1.6rem;
    line-height: 2;
    /* background-color: var(--clr-primary); */
}

/*** Globales ***/

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4.5rem;
    color: var(--clr-primary);
}

h2 {
    font-size: 3.4rem;
    color: var(--clr-primary);
}

h3 {
    font-size: 2.8rem;
    color: var(--clr-primary);
}

p {
    font-size: 1.7rem;
    color: var(--clr-grey);
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.contenedor {
    /* max-width: 576px; */
    /* margin: 0 auto; */
}


img {
    max-width: 100%;
    display: block;
}

.btn {
    background-color: var(--clr-secondary);
    box-sizing: border-box;
    appearance: none;
    border: 2px solid var(--clr-secondary);
    border-radius: 0.6em;
    color: var(--clr-white);
    cursor: pointer;
    line-height: 1;
    margin: 20px;
    padding: 1.5rem 3rem;
    text-decoration: none;
    text-align: center;
    transition: 0.3s all ease-in-out !important;
    font-size: 1.6rem;
}

.btn:hover {
    border: 2px solid var(--clr-primary);
    background-color: var(--cl-tertiary);
    outline: 0;
    /* box-shadow: 0 0 40px 40px var(--clr-secondary) inset; */
}

/** Utilidades **/
.text-center {
    text-align: center;
}



/****************** Header ******************/
/********************************************/
/********************************************/

section{
    /* position: relative; */
    /* width: 100%; */
}

.header{
    /* width: 100vw; */
    background-color: var(--clr-white);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-contenedor {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* .header-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/* .header-logo-enlace h2{
    font-weight: bold;
    letter-spacing: 0.7rem;
    color: var(--clr-primary);
    margin-bottom: 0;
} */

.logo-enlace h2{
    font-weight: bold;
    letter-spacing: 0.7rem;
    color: var(--clr-primary);
    margin-bottom: 0;
    font-size: 2rem;
}

/* .header-logo-enlace h2 span{
    color: var(--clr-secondary);
} */

.logo-enlace h2 span{
    color: var(--clr-secondary);
}

.navbar-header {
    text-align: center;
    position: fixed;
    top: 4rem;
    transition: 0.3s;
    background-color: var(--clr-white);
    /* z-index: 999; */
    width: 100%;
}

.navbar-header ul{
    padding-left: 0;
}

.navbar-header ul li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-header ul li a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: var(--clr-primary);
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.menu-hamburguesa {
    cursor: pointer;
    display: flex;
}

.hidden {
    left: -100%;
}

.active {
    left: 0;
}

.navbar-header ul li a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar-header ul li a:hover{
    color: red;
}
.navbar-header ul li a:hover:after{
    width: 100%;
}

@media (min-width: 768px) {

    .navbar-header {
        top: 6.8rem;
    }

    .logo-enlace h2{
        font-size: 3.4rem;
    }
}

@media (min-width: 1024px) {


    .header-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar-header {
        /* width: 70%; */
        /* text-align: center; */
        /* margin: 0 auto; */
        /* border: 1px solid red; */
        position: static;
        width: auto;
        display: flex;
        align-items: center;
    }

    .navbar-header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .navbar-header ul li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navbar-header ul li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .menu-hamburguesa {
        display: none;
    }
}

/****************** Hero ********************/
/********************************************/
/********************************************/

.hero {
    background-image: url("../img/1-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 130px);
    /* margin-bottom: 10rem; */
}

.hero-contenedor {
    background: rgba(51, 76, 125, 0.5);
    height: 100%;
    
}

.hero-info {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero-text {
    padding: 2rem;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
    margin: 0rem;
    margin-bottom: 3rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
}

.hero-text p {
    font-size: 1.4rem;
    color: white;
    margin: 0;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .hero {
        /* height: calc(100vh - 130px); */
    }

    .hero-info {
        align-items: flex-start;
        width: 85%;
        justify-content: center;

    }

    .hero-text {
        padding: 6rem;
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
    }

    .hero-text h1{
        text-align: left;
        margin-top: 5rem;
        font-size: 6rem;
    }

    .hero-btn {
        text-align: center;
        width: 100%;
        padding: 4rem 6rem 6rem 6rem ;
    }
}

@media (min-width: 1024px) {

    .hero {
        height: calc(100vh - 68px);
    }
    .hero-info {
        width: 70%;
    }
}

@media (min-width: 1280px) {
    .hero-info {
        width: 50%;
    }
}

/****************** Products ****************/
/********************************************/
/********************************************/

.container-products {
	/* max-width: 960px; */
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    margin-bottom: 10rem;
}

.title-products{
    flex-basis: 100%;
    /* margin-left: 9rem; */
    text-align: center;
}

/* .title-products h2{
    font-size: 2.8rem;
} */

.product {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
	padding: 20px;
	/* width: 390px; */
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
	/* margin-bottom: 2rem; */
    /* min-width: 300px; */
    /* min-height: 300px; */
}

.product-picture-container {
    background: var(--clr-primary);
    /* border: 0.5rem solid var(--clr-primary); */
    max-width: 30rem;
    /* extra stuff */
    overflow: hidden;
}

.product-picture {
    transition: var(--transition);
}

.product-picture-container:hover .product-picture {
    opacity: 0.5;
    transform: scale(1.2);
}

.product-info{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-info a {
    color: var(--clr-primary);
    font-size: 1.8rem;
	margin-top: 0;
    margin-bottom: 1rem;
}

.product-info p {
    font-size: 1.6rem;
    color: var(--clr-primary);
	margin: 10px 0;
}

.product-info button {
	background-color: var(--clr-primary);
	border: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.product-info button:hover {
	background-color: var(--clr-secondary);
}

@media (min-width: 768px) {

    .title-products{
        
        margin-left: 9rem;
        text-align: left;
    }
}

/****************** Beneficios **************/
/********************************************/
/********************************************/

.beneficios {
    margin-bottom: 10rem;
}

.container-beneficios {
    background-color: var(--clr-primary);
    padding: 3rem 1rem;
}

.beneficio {
    padding: 2rem;
    margin: 2rem;
    border: 1px dotted var(--clr-white);
    display: flex;
}

.info-beneficios {
    margin-left: 2rem;
}

.info-beneficios h4, p{
    color: var(--clr-white);
}

.info-beneficios h4{
    margin-bottom: 0;
    font-size: 2.3rem;
}

.info-beneficios p{
    font-size: 1.4rem;
}

.icon {
    font-size: 50px;
    color: var(--clr-white);
}

@media (min-width: 768px) {

    .container-beneficios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width: 1024px) {

    .container-beneficios {
        grid-template-columns: repeat(3, 1fr);

    }
}


/****************** Footer ******************/
/********************************************/
/********************************************/

footer{
    margin-bottom: 0;
}

.contenedor-footer {
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.contenedor-footer h6{
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-size: 2.1rem;
}

.images-footer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    margin-bottom: 4rem;
    
}

.images-footer img {
    display: inline;
    flex: 0 0 auto; /* Asegura que las imágenes mantengan su tamaño original */
    margin-right: 0px; /* Espacio entre las imágenes, ajusta según sea necesario */
}

.info-footer {
    padding: 2rem;
}

.section-footer {
    margin-bottom: 3rem;
}

.logo-about-us-footer p{
    font-size: 14px;
}

.footer-logo {
    text-align: left;
    padding: 2rem;
}

.footer-logo h2 {
    color: var(--clr-white);
}

.navbar-footer ul{
    padding-left: 0;
    
}

.navbar-footer ul li a{
    color: var(--clr-white);
    font-size: 13px;
}

.contact-info {
    display: flex;
    margin-bottom: 1rem;
}

.contact-info-footer p{
    font-size: 1.2rem;
    margin-left: 2rem;
    
}

.created-by-footer {
    text-align: center;
    background-color: var(--cl-tertiary-02);
}

.reserved {
    margin-bottom: 0;
    font-size: 1.3rem;
}

@media (min-width: 768px) {
    .footer-logo {
        width: 100%;
        flex-basis: 100vw;
    }

    .info-footer {
        display: flex;
        justify-content: space-around;
    }

    .about-us-footer {
        width: 30%;
    }

    container-navbar-footer {
        width: 35%;
    } 

    .contact-info-footer {
        width: 35%;
    }
}


/****************** Categoria ******************/
/***********************************************/
/***********************************************/


.all-categories-container {
    margin-bottom: 5rem;
}

.categorie-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;

    overflow: hidden;
    position: relative;
}

.categorie-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.categorie-container:hover::after {
    opacity: 1;
}

.categorie {
    height: 100%;
    color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
}

.skincare-container {
    background-image: url("../img/2-skincare.jpg");
}

.skincare {
    background: rgba(77, 147, 233, 0.5);
}

.vitaminas-container {
    background-image: url("../img/3-vitamins.jpg");
}

.vitaminas {
    background: rgba(5, 131, 207, 0.5);
    
}

.medicinas-container {
    background-image: url("../img/4-pastillas.jpg");
}

.medicinas {
    background: rgba(30, 98, 181, 0.5);
}

.equipos-container {
    background-image: url("../img/5-microscope.jpg");
    
}

.equipos {
    background: rgba(15, 81, 159, 0.5);
    
}

.categorie h4{
    font-size: 2.3rem;
}

.categorie h5{
    font-size: 1.8rem;
}

.categorie a span{
    color: var(--clr-white);
    font-size: 4rem;
}




@media (min-width: 768px) {
    .all-categories-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (min-width: 1024px) {
    .all-categories-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


/****************** Banner ******************/
/***********************************************/
/***********************************************/


.banner-container {
    min-height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/shopping.jpg") center/cover no-repeat fixed;
    position: relative;
    /* animation */
    overflow-x: hidden;
    margin-bottom: 10rem;
}

.banner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner h2 {
    color: #fff;
    font-size: 4.5rem;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .banner h2 {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {
    .banner h2 {
        font-size: 5.5rem;
    }
}

@media (min-width: 1366px) {
    .banner h2 {
        font-size: 7rem;
    }
}




